@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Dosis";
    src: url("../font/Dosis-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Baskervville";
    src: url("../font/Baskervville-Italic.ttf");
}